/* css used for the header */

*
{
    font-family: sans-serif;
}

#website-title
{
    text-decoration: none;
    color: black;
    font-size: 3vw;
}

header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: gold;
    width: 100%;
    min-height: 90px;
}

.header-side
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-box
{
    background-color: goldenrod;
    width: 100px;
    text-align: center;
    margin: 0.3em;
    padding: 0.2em;
    text-decoration: none;
    color: black;
}

.header-box:hover
{
    background-color: rgb(173, 130, 19);
}

.session-alert
{
}

